
@{
    ViewBag.Title = "Home";
}

@section headerScripts{
    <link rel="stylesheet" href="~/Content/UserDefined/Index.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/External/FBReactions-Ionel_Cucu.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
}


<h2>
    Facebook Tracker
</h2>

<div class="col-md-12">
    <select class="form-control unlimit" onchange="getpage()" id="TargetPage">
        <option value="cotastelevision">Cotas Television</option>
        <option value="cotastelefoniaeinternet">Cotas Internet y Telefonia</option>
        <option value=""> + Anadir nuevo</option>
    </select>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Publicaciones </h3>
    </div>
    <div class="col-md-6" style="margin-top:20px;margin-bottom:10px;">
        <div class="input-group" style="display:flex;">
            <input type="text" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</div>

<div class="row relativize" id="Listado">

</div>

@section footerScripts{
    @*<script id="facebook-jssdk" src="https://connect.facebook.net/es_LA/sdk/debug.js" src="https://connect.facebook.net/es_LA/sdk.js"></script>*@
    <script>
        var elementos = null;
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/es_LA/sdk/debug.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var accessToken;
        var FB;
        var cola = new Array();
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1410882755639041', //appId
                autoLogAppEvents: true,
                xfbml: true,
                status: true,
                version: 'v2.10'
            });

            //bloque de codigo para loguearse o verificar estado
            FB.getLoginStatus(function (response) {
                if (response) {
                    if (response.status === 'connected') {
                        accessToken = response.authResponse.accessToken;
                        console.log(response);
                        console.log('ya logueado');
                        Encolar(ListarPublicaciones);
                    }
                    else {
                        FB.login();
                    }
                }
            });

            procesarColaFunciones();
        };

        function Encolar(funcion) {
            if (FB == undefined) {
                cola.push(funcion);
            }
            else {
                funcion();
            }
        }

        function procesarColaFunciones() {
            var f;
            while (f = cola.shift())
                f();
        }

        function formatdate(datetime) {
            var fecha = new Date(datetime);
            var opcioneshoras = { hour: '2-digit', minute: '2-digit' };
            var opciones = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return fecha.toLocaleString('latn', opcioneshoras) + ', ' + fecha.toLocaleString('latn', opciones);
        }

        function formatpost(elemento) {
            var format = '';
            format = '<div class="col-md-12 post-box">' +
                '<img class="img-post" src="' + elemento.full_picture + '" />' +
                '<p class="text-margin">' + elemento.message + '</p>' +
                '<div class="emoji-container">' +
                '<div class="emoji like">' +
                elemento.reactions_like.summary.total_count +
                '<div class="icon" data-title="Me Gusta"></div>' +
                '</div>' +
                '<div class="emoji love">' +
                elemento.reactions_love.summary.total_count +
                '<div class="icon" data-title="Me Encanta"></div>' +
                '</div>' +
                '<div class="emoji haha">' +
                elemento.reactions_haha.summary.total_count +
                '<div class="icon" data-title="Me Divierte"></div>' +
                '</div>' +
                '<div class="emoji wow">' +
                elemento.reactions_wow.summary.total_count +
                '<div class="icon" data-title="Me Asombra"></div>' +
                '</div>' +
                '<div class="emoji sad">' +
                elemento.reactions_sad.summary.total_count +
                '<div class="icon" data-title="Me Entristece"></div>' +
                '</div>' +
                '<div class="emoji angry">' +
                elemento.reactions_angry.summary.total_count +
                '<div class="icon" data-title="Me Enoja"></div>' +
                '</div>' +
                '</div>' +
                '<p class="comment-align">' + '<a href="#">' + elemento.comments.summary.total_count + ' Comentarios' + '</a>' + '</p>' +
                '<p class="subtitle">' + formatdate(elemento.created_time) + '</p>' +
                '<button class="btn btn-primary pull-bottom">Analizar</button>' +
                '</div>';
            return format;
        }


        //Lista las ultimas 25 publicaciones de una pagina en facebook
        function ListarPublicaciones(idpagina = 'cotastelevision') {
            FB.api(
                '/' + idpagina + '/posts', //feed
                'get',
                {
                    //fields:'id, link, message, name, type, shares,likes.summary(true), comments.summary(true)',
                    fields: 'created_time,object_id,full_picture,link,message,comments.summary(true).limit(0),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_haha),reactions.type(NONE).limit(0).summary(total_count).as(reactions_none),reactions.type(LIKE).limit(0).summary(total_count).as(reactions_like),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_love),reactions.type(WOW).limit(0).summary(total_count).as(reactions_wow),reactions.type(SAD).limit(0).summary(total_count).as(reactions_sad),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_angry),reactions.type(THANKFUL).limit(0).summary(total_count).as(reactions_thankful)',
                    access_token: accessToken
                },
                function (response) {

                    console.log(response);
                    if (response.data) {
                        var listado = JSON.parse(JSON.stringify(response.data));
                        console.log("Intento de convertir a JSON: ", listado);
                        var html = '';
                        var i = 0;
                        for (i = 0; i < listado.length; i++) {
                            html += formatpost(listado[i]);
                        }
                        document.getElementById("Listado").innerHTML = html;
                        elementos = response.paging.next;
                    }
                }
            );
        }

        function formatComment(elemento) {

            var formato = '';

            formato += '<p>' +
                '< a href= "https://www.facebook.com/' + elemento.from.id + '" >' + elemento.from.name + '</a >' +
                '</p >' +
                '<p>' +
                elemento.message +
                '</p>';
            return formato;
        }

        function ListarComentarios(lista) {

            var html = '';
            for (var i = 0; i < lista.length; i++) {
                html += formatComment(lista[i]);
            }
        }

        //Encolar(ListarPublicaciones);
        //function LlenarModal(url) {
        //    var modal = document.getElementById("fbModal");
        //    var cuerpo = document.getElementById("ModalBody");
        //    cuerpo.innerHTML = "<div class='fb-post' data-href='" + url + "' data-width='500' data-show-text='true'></div>";
        //    FB.XFBML.parse();
        //    $("#fbModal").modal();
        //}

        function navegador(next) {
            FB.api(
                next, //feed
                'get',
                {
                },
                function (response) {

                    console.log(response);
                    if (response.data) {
                        var listado = JSON.parse(JSON.stringify(response.data));
                        console.log("Intento next JSON: ", listado);
                    }
                }
            );
        }

        function BuscarHashtag(texto) {
            if (texto && texto.includes('#')) {
                var partehashtag = texto.split('#');
                var hashtag = partehashtag[1].split(' ')[0];
                return '#' + hashtag;
            }
            else {
                return 'Publicacion';
            }
        }

        function getpage() {
            var selector = document.getElementById("TargetPage");
            var id = selector.options[selector.selectedIndex].value;
            Encolar(function () { ListarPublicaciones(id); });
        }
    </script>
}